html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

ul, li {
  margin:0;
  padding:0;
}

.button {
  border: 1px solid black;
  height: 40px;
  background-color: white;
  outline: none;
}

.align-left {
  text-align: left;
}